extends layout

include ./roadmap/opportunity.jade

block content
  h2= title

  section

    svg(width='100%' height='600')
      include ./roadmap/calendar.jade

      each swimlane, order in details.swimlanes
        +_opportunity(swimlane, order)

block script
  script
    include ./roadmap/roadmap.js
