doctype html
html
  head
    title Singham - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id='singham')

    h1 Singham
    block content

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    block script
