rect(id='calendar_pane' x='0' y='0' rx='20' ry='20')
each cell in details.calendar
  a( xlink:href='http://www.w3schools.com/svg/')
    text(x='#{cell.timeOffset}' y='20') #{cell.month}
  line(class='gridLine' x1='#{cell.timeOffset}' y1='10' x2='#{cell.timeOffset}' y2='590')
