#singham {
	background-color: white;
	color: black;
}

#singham header {
	xposition: fixed;
	xleft: 0px;
	xbottom:0px;
	xtransform: rotate(-90deg);
	display: none;
}

#singham section,
#singham svg #calendar_pane
{
	width: 2700px;
}

#singham #dlg_add_new_object {
	background-color: blue;
}

#singham svg #calendar_pane {
	stroke: blue;
	fill: #A0A0A0;
	height: 600px;
}

#singham #calendar .certain {
	width: 80px;
	display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    border-bottom-style: none;
    border-top-style: solid;
    border-right-style: none;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-variant: small-caps;
}

#singham #calendar .uncertain {
	width: 80px;
	display: inline-block;
	border-style: solid;
    border-width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

#singham svg circle {
	stroke-width: 4;
}

#singham svg line.swimmer {
	stroke-width: 8;
}

#singham svg text {
	fill: black;
}

#singham svg circle.Responsible {
	fill: #CCFF99;
}

#singham svg circle.Accountable {
	fill: black;
}

#singham svg .Responsible {
	stroke: #000000;
}

#singham svg .Accountable {
	stroke: #CCFF99;
}

#singham svg .Consulted {
	stroke: #FFCC99;
}

#singham svg .Informed {
	stroke: #66CCCC;
}

#singham svg line.gridLine {
	stroke: white;
}

#singham .filler {
	color: white;
	margin-bottom: 25px;
}

#singham .even {
	background-color: #F8F8F8;
}

#singham .opp_fly_out {

	display:none;

	position: absolute;
	left: 0px;
	width: 300px;
	z-index: 10000;

	padding: 30px;
	border: solid;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 10px;

	background-color: white;
}

#singham .opp_fly_out dt::after {

	content: ":";

}

#singham .opp_fly_out .close {

	position: absolute;
	right: 10px;
	top: 5px;

}

#singham .opp_fly_out nav {

	float: right;

}

#singham .oppfly_out nav div {
	display: inline-block;
	position: relative;
}
